@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");
body
{
    color: #40514E;;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

    
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;
}

header > .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header > .logo > img {
  width: 40px;
}
header > .logo > h3 {
  font-family: "Charm", cursive;
  margin-left: 10px;
  margin-top: -1px;
  color: var(--secondary-color);
}

header > .logo > span {
  font-family: "Charm", cursive;
  margin-left: 5px;
  font-weight: bold;
  color: goldenrod;
  padding: 0 3px;
  margin-bottom: 2px;
  font-size: 1.2rem;
}

header > ul {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header > ul>li {
	 margin: 0 1rem;
	 cursor: pointer;
	 flex-direction: column;
}
 header > ul > li .active {
	 font-weight: bold;
	 background-color: #fdccf1 75;
	 color: #fbace8;
	 padding: 2px 5px;
	 border-radius: 5px;
}
header > ul > li .active:hover {
	 color: #cdcdcd;
}
header > ul > li a {
	 color: var(--gray-color);
	 text-decoration: none;
	 font-weight: bold;
	 flex-direction: column;
	 transition: all 0.4s ease-in-out;
	 position: relative;
}
header > ul > li a:after {
	 content: " ";
	 position: absolute;
	 background-color: #ff0157;
	 height: 2px;
	 left: 0;
	 bottom: -8px;
	 width: 0;
	 transition: 0.3s all;
}
 header > ul > li a:hover {
	 color: var(--secondary-color);
}
 header > ul > li a:hover:after {
	 width: 100%;
}
header > ul > li:hover div {
	 background: var(--secondary-color);
}
header > ul > li:nth-child(2) .active {
	 color: goldenrod;
	 background-color: #daa520 47;
}
header > ul > li:nth-child(2) .active:hover {
	 color: #cdcdcd;
}
header > ul > li:nth-child(3) .active {
	 color: #ff0157;
	 background-color: #ff0157 47;
}
header > ul > li:nth-child(3) .active:hover {
	 color: #cdcdcd;
}
header > ul > li:nth-child(4) .active {
	 color: #25a71a;
	 background-color: #3fa037 4f;
}
header > ul > li:nth-child(4) .active:hover {
	 color: #cdcdcd;
}
header > ul > li:nth-child(5) .active {
	 color: #9400d3;
	 background-color: #e8b8fd;
}
header > ul > li:nth-child(5) .active:hover {
	 color: #cdcdcd;
}
header > ul > li:nth-child(6) .active {
	 color: #ff0157;
	 background-color: #ff0157 47;
}
header > ul > li:nth-child(6) .active:hover {
	 color: #cdcdcd;
}
 
h1{
    font-size: 3.62rem;
    margin-top: 50px;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;

}
h2{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;

}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;

}
p{
    margin-bottom: 0;
}
.one{
    background-color: #EAF6F6; 
    position: relative;  
    padding: 100px; 
}
.mountain{ width:65%;
    
}

.top{
    position: absolute;
    right: 300px;
    top: 50px;;
    
}
.bottom{
    position: absolute;
   
    right: 850px;
 
}
.ishank{
    width: 200px;
    height: 200px;
}
.skill1{
    width: 25%;
    float: left;
    margin: 25px 30px auto 30px;
}
.skill2{
    width: 25%;
    float: right;
    margin: auto 30px auto 30px;
}
.skill-row{
    margin: 100px auto 100px auto;
    width: 60%;
    text-align: left;
    line-height: 2;

    
}
hr{     border-style:  none;
        border-color: lightgray;
        border-top-style: dotted;
        border-width: 6px;
        width: 5%;  
        margin: 50px auto 50px auto; 
}
a{
    color:#11999E;
}
.height{
    line-height: 2;
}
.bottom-container{

    background-color: #66BFBF;
     padding: 50px;
     
}
.copywrite{
    color: #EAF6F6;
}
.btn {
   
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

    
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .contact-me
  {
    
    padding: 40px; 
    line-height: 2;
    margin-bottom: 50px;

  }
